{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jquery": true
  },
  "rules": {
    "no-use-before-define": 0,
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
  },
  "globals": {
    "expect": true,
    "shallow": true,
    "sinon": true
  }
}
